thead tr th:nth-child(1) {
  width: 10%;
}

thead tr th:nth-child(3) {
  width: 20%;
}

thead tr th:nth-child(4) {
  width: 20%;
}

.table-hover{
  border: 1px solid #968d85;
  margin-top: 10px;
}

div.row {
margin: 20px 0px;
}

span.label-medium {
padding: 8px 10px;
  margin: 0px 8px;
  font-size: 16px;
}

.sort-by{
  margin-right: 10px;
}

input {
  cursor: auto;
}